# Build artifacts
build/
bin/
lib/
_deps/
*.o
IdeaWalker

# Doxygen output
html/
latex/

# Models and Large Data
*.bin
*.wav
*.a
*.so
*.dylib
*.dll
*.exe

# User Data / Project Specific
inbox/
notas/
Teste/
.obsidian/
imgui.ini

# IDEs and Tools
.vscode/
.idea/
.fleet/
.cache/
.DS_Store
Thumbs.db

# Logs and Python
*.log
*.py
*.pyc
__pycache__/
